<!-- header -->
<nav class="navbar  bg-warning">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
        SM Bank
      </a>
    </div>
  </nav>



  <div class="container">
    <div class="row text-center">
        <img width="100px" height="500px" src="https://cdn.dribbble.com/users/1175431/screenshots/6188233/404-error-dribbble-800x600.gif" alt="">

        <h5>Website content has been removed....</h5>
        <p>Page Not found</p>
        <div>
            <button routerLink="/" class="btn btn-primary m-3">Back to site</button>
        </div>
    </div>
  </div>

<!-- footer -->
<footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3 bg-warning" >
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
